<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head"></head>
<body id="page-top">
	<div id="wrapper">
		<!-- Sidebar -->
		<ul th:replace="fragments/sidebar :: sidebar"></ul>
		<div id="content-wrapper">
			<div class="container-fluid">
				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="#" th:href="@{/home}">Inicio</a>
					</li>
					<li class="breadcrumb-item active">Cuenta</li>
				</ol>
				<!-- Page Content -->
				<!-- <h1>Cuenta</h1>
				<hr> -->
				<div class="container">
				<div th:if="${error != null}" class="alert alert-danger" role="alert">No es posible eliminar su cuenta, tiene deudas o aún tiene recursos en su cuenta</div>
					<div class="card card-register mx-auto mt-5">
						<div class="card-header text-center">
							<i class="fas fa-7x fa-user-circle"></i>
						</div>
						<div class="card-body text-center">
							<span th:text="${usuario.nombreusuario}"></span>
						</div>
						<div class="card-footer">
							<a class="btn btn-secondary btn-block" href="#" data-toggle="modal" data-target="#deleteAccountModal">Eliminar cuenta</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer -->
			<footer th:replace="fragments/footer :: footer"></footer>
		</div>
	</div>
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>
	<!-- Logout Modal-->
	<div th:replace="fragments/sidebar :: logoutmodal"></div>
	<!-- Delete account Modal-->
	<div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="logoutmodal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">¿Está seguro de eliminar su cuenta?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Seleccione "Aceptar" si está seguro de esta acción.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
					<a href="#" th:href="@{/account/delete?nombreusuario=__${usuario.nombreusuario}__}">
						<button class="btn btn-primary" type="submit">Aceptar</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Scripts -->
	<div th:replace="fragments/js :: js"></div>
</body>

</html>
