<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head"></head>
<body class="bg-dark">
	<div class="container">
		<div class="card card-login mx-auto mt-5">
			<div class="card-header text-center">Inicio de sesión</div>
			<div class="card-body">
				<form action="#" th:action="@{/logincheck}" method="POST">
					<input type="hidden" name="$_csrf.parameterName" value="${_csrf.token}">
					<div class="form-group">
						<div class="form-label-group">
							<input type="text" class="form-control" placeholder="Usuario" required="required" autofocus="autofocus" name="nombreusuario" id="nombreusuario">
							<label for="nombreusuario">Usuario</label>
						</div>
					</div>
					<div class="form-group">
						<div class="form-label-group">
							<input type="password" class="form-control" placeholder="Contraseña" required="required" name="contrasenia" id="contrasenia">
							<label for="contrasenia">Contraseña</label>
						</div>
					</div>
					<div th:if="${error != null}" class="alert alert-danger" role="alert">Usuario o Contraseña inválidas</div>
					<div th:if="${logout != null}" class="alert alert-info" role="alert">Sesión finalizada</div>
					<div th:if="${success != null}" class="alert alert-info" role="alert">Usuario registrado</div>
					<button class="btn btn-primary btn-block" type="submit">Entrar</button>
				</form>
				<div class="text-center">
					<a class="d-block small mt-3" href="#" th:href="@{/register}">Registrar una cuenta</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Scripts -->
	<div th:replace="fragments/js :: js"></div>
</body>
</html>
